@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

i {
  @apply text-xs;
}

.inputField {
  @apply w-full font-mono pl-4 resize-none;
  /* Custom scrollbar hiding */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.inputField::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
